body {
    background-color:cornflowerblue;
}

table {
    background-color: lightblue;
    /*border-collapse: collapse;*/
}

tr:hover {
    background-color: rgb(84,186,223);
}

td, th {
    text-align: center;
    /*border-bottom: 1px solid #000;*/
}

th {
    background-color: #008CBA;
    color: white;
}

#b1:hover {
    background-color: #008CBA;
    color: white;
}

button {
    border: 2px solid #008CBA;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    /*opacity: 0.7;
  font-family:monospace;
  */
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}